DJANGO_DEBUG=True
DJANGO_SECRET_KEY=

# Configuration PostgreSQL
DB_PORT=5432
DB_NAME=fleetcontrol_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost

# NEON PostgreSQL on Railway variables
DATABASE_URL=
CONN_MAX_AGE=30

# Stripe configuration
STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLISHABLE_KEY=pk_test_
STRIPE_WEBHOOK_SECRET=whsec_
