@import "@fontsource/space-grotesk";
@import "@fontsource/space-grotesk/500.css";
@import "@fontsource/space-grotesk/600.css";
@import "@fontsource/space-grotesk/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components {
    .title {
        @apply text-4xl text-center text-blue-400;
    }

    .text-1 {
        @apply text-center text-gray-400;
    }

    .text-2 {
        @apply text-center text-gray-700;
    }

    .text-small {
        @apply mt-2 text-sm font-medium text-gray-700;
    }
    
    .text-bold {
        @apply text-center text-gray-700 font-bold text-2xl;
    }

    .button-base {
        @apply px-4 py-2 border border-gray-700 rounded-md text-center hover:shadow-md;
    }

    .button-red {
        @apply  px-4 py-2 border border-red-700 rounded-md text-red-700 text-center hover:shadow-md;
    }

    .button-green {
        @apply  px-4 py-2 border border-green-700 rounded-md text-green-700 text-center hover:shadow-md;
    }

    .input {
        @apply w-full py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black focus:border-transparent;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .errorlist {
        @apply text-red-500 text-xs italic mt-1;
    }

    .errorlist li {
        @apply list-none;
    }

    .toast {
        @apply opacity-0 translate-y-2 transition duration-500 ease-in-out;
    }

    .toast-show {
        @apply opacity-100 translate-y-0;
    }

    .toast-hide {
        @apply opacity-0 -translate-y-1;
    }

    .toast-close {
        @apply flex items-center justify-center w-6 h-6 text-lg leading-none font-bold focus:outline-none rounded-full transition-colors;
    }

    .actions-column {
        @apply flex flex-col gap-2 items-center text-center;
    }

    .actions-column form {
        @apply w-full;
    }

    .action-button {
        @apply flex items-center justify-center w-full text-center px-3 py-1.5 text-xs font-medium rounded border;
    }
}