{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Rejoindre" %} {{ organization.name }} - FleetControl{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-10">
    <h1 class="text-bold">{% trans "Rejoindre l'organisation" %}</h1>
    
    <div class="mt-6 space-y-4">
        <p class="text-gray-700">
            {% trans "Vous avez été invité à rejoindre" %} <strong>{{ organization.name }}</strong>.
        </p>
        
        {% if organization.logo %}
        <div class="flex justify-center mb-8">
            <img src="{{ organization.logo.url }}" alt="{{ organization.name }} logo" class="h-32 object-contain rounded-md">
        </div>
        {% endif %}
        
        <form method="post" class="space-y-6">
            {% csrf_token %}
            
            {% comment %} {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                    <div class="{% if message.tags == 'success' %}bg-green-100 border border-green-400 text-green-700{% else %}bg-red-100 border border-red-400 text-red-700{% endif %} px-4 py-3 rounded relative">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %} {% endcomment %}
            
            <div class="flex flex-col space-y-4">
                <button type="submit" class="w-full button-green">
                    {% trans "Rejoindre l'organisation" %}
                </button>
                <a href="{% url 'organizations_panel' %}" class="w-full button-base text-center">
                    {% trans "Retour" %}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %} 