{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="max-w-md mx-auto mt-10">
    <h1 class="text-bold">{% trans "Email envoyé" %}</h1>
    <p class="text-1 mt-4">
        {% trans "Nous vous avons envoyé un email. Si vous ne l'avez pas reçu, vérifiez votre dossier spam. Sinon, contactez-nous si vous ne le recevez pas dans quelques minutes." %}
    </p>
    
    <div class="mt-6 text-center">
        <a href="{% url 'account_login' %}" class="text-blue-600 hover:text-blue-800">{% trans "Retour à la connexion" %}</a>
    </div>
</div>
{% endblock %} 